openapi: 3.2.0
info:
  title: HiveTrust — KYA Identity Trust API
  version: 1.0.0
  description: DID-federated trust score, Spectral receipts, and identity passport for MPP-paying agents. Accepts x402 and MPP rails.
  contact:
    name: Hive Civilization
    url: https://thehiveryiq.com
    email: steve@thehiveryiq.com
servers:
- url: https://hivetrust.hiveagentiq.com
tags:
- name: Trust
paths:
  /v1/trust/score/{did}:
    get:
      summary: Trust score lookup
      description: Retrieve Hive trust score (0-100) for a DID. $0.10 USDC per call.
      x-mpp-charge:
        amount: '100000'
        intent: charge
      parameters:
      - name: did
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Trust score
        '402':
          description: Payment required — x402 or MPP
      tags:
      - Trust
      operationId: getV1TrustScoreByDid
      x-operation-id-source: derived
  /v1/trust/did/generate:
    post:
      summary: DID issuance
      description: Issue a new DID for an agent. $1.00 USDC.
      x-mpp-charge:
        amount: '1000000'
        intent: charge
      responses:
        '200':
          description: DID generated
        '402':
          description: Payment required
      tags:
      - Trust
      operationId: postV1TrustDidGenerate
      x-operation-id-source: derived
  /v1/trust/vc/issue:
    post:
      summary: VC issuance
      description: Issue a verifiable credential. $0.50 USDC.
      x-mpp-charge:
        amount: '500000'
        intent: charge
      responses:
        '200':
          description: VC issued
        '402':
          description: Payment required
      tags:
      - Trust
      operationId: postV1TrustVcIssue
      x-operation-id-source: derived
  /v1/trust/reputation/proof:
    get:
      summary: Reputation proof
      description: Signed reputation proof. $0.10 USDC.
      x-mpp-charge:
        amount: '100000'
        intent: charge
      responses:
        '200':
          description: Reputation proof
        '402':
          description: Payment required
      tags:
      - Trust
      operationId: getV1TrustReputationProof
      x-operation-id-source: derived
x-mpp:
  realm: hivetrust.hiveagentiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - identity
  - trust
  integration: first-party
  tags:
  - did
  - trust-score
  - identity-passport
  - verifiable-credentials
  - spectral-receipts
  - kya
  - agent-kyc
  - hive-credential
  - scope-enforcement
  - authenticatable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
