openapi: 3.2.0
info:
  title: HiveTrust — KYA Identity & Trust Credential API
  version: 1.0.0
  description: DID-federated trust score, Spectral receipts, and identity passport for MPP-paying agents. Accepts x402 and MPP rails.
  contact:
    name: Hive Civilization
    url: https://thehiveryiq.com
    email: steve@thehiveryiq.com
servers:
- url: https://hivetrust.hiveagentiq.com
tags:
- name: Credential
paths:
  /v1/credential/issue:
    post:
      summary: HiveCredential — issue scoped credential
      description: Issue an institutional-scale agent credential with cryptographic scope (purpose, data_classes, regions, counterparties, max_spend_usd, expires_at). Ed25519-signed envelope. $0.10 USDC.
      x-mpp-charge:
        amount: '100000'
        intent: charge
      responses:
        '200':
          description: Credential issued
        '402':
          description: Payment required — x402 or MPP
      tags:
      - Credential
      operationId: postV1CredentialIssue
      x-operation-id-source: derived
  /v1/credential/verify:
    post:
      summary: HiveCredential — verify credential and scope
      description: Verify credential validity (revocation, expiry, freeze) and check required_scope satisfaction. $0.01 USDC.
      x-mpp-charge:
        amount: '10000'
        intent: charge
      responses:
        '200':
          description: Verification result
        '402':
          description: Payment required — x402 or MPP
      tags:
      - Credential
      operationId: postV1CredentialVerify
      x-operation-id-source: derived
  /v1/credential/scope:
    post:
      summary: HiveCredential — mutate scope (narrow/freeze/unfreeze/revoke)
      description: Append a scope mutation to the credential. Audit-logged, Ed25519-signed. $0.05 USDC.
      x-mpp-charge:
        amount: '50000'
        intent: charge
      responses:
        '200':
          description: Scope mutated
        '402':
          description: Payment required — x402 or MPP
      tags:
      - Credential
      operationId: postV1CredentialScope
      x-operation-id-source: derived
x-mpp:
  realm: hivetrust.hiveagentiq.com
  payment:
    method: tempo
    currency: '0x20c000000000000000000000b9537d11c60e8b50'
    decimals: 6
    recipient: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
  rails:
  - x402
  - mpp
  categories:
  - identity
  - trust
  integration: first-party
  tags:
  - did
  - trust-score
  - identity-passport
  - verifiable-credentials
  - spectral-receipts
  - kya
  - agent-kyc
  - hive-credential
  - scope-enforcement
  - authenticatable
  treasury: '0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E'
