{"openapi":"3.0.3","info":{"title":"HiveGate — Admission, Identity & Pricing Tier API","version":"1.0.0","description":"Stream E admission, identity, pricing tiers. USDC on Tempo/Base. Accepts x402 and MPP rails.","contact":{"name":"Hive Civilization","url":"https://thehiveryiq.com","email":"steve@thehiveryiq.com"}},"servers":[{"url":"https://hivegate.hiveagentiq.com"}],"x-mpp":{"realm":"hivegate.hiveagentiq.com","payment":{"method":"tempo","currency":"0x20c000000000000000000000b9537d11c60e8b50","decimals":6,"recipient":"0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E"},"rails":["x402","mpp"],"categories":["admission","identity"],"integration":"first-party","tags":["gate","admission","identity","tier","onboard","stream-e"],"treasury":"0x15184Bf50B3d3F52b60434f8942b7D52F2eB436E"},"paths":{"/v1/gate/onboard":{"post":{"summary":"Agent onboarding","description":"Onboard a new agent, issue DID and tier. $1.00 USDC.","x-mpp-charge":{"amount":"1000000","intent":"charge"},"responses":{"200":{"description":"Agent onboarded"},"402":{"description":"Payment required — x402 or MPP"}}}},"/v1/gate/admit":{"post":{"summary":"Agent admission check","description":"Verify agent admission status and tier. $0.10 USDC.","x-mpp-charge":{"amount":"100000","intent":"charge"},"responses":{"200":{"description":"Admission granted"},"402":{"description":"Payment required"}}}},"/v1/gate/tier/verify":{"get":{"summary":"Verify agent tier","description":"Verify an agent tier credential. $0.10 USDC.","x-mpp-charge":{"amount":"100000","intent":"charge"},"responses":{"200":{"description":"Tier verified"},"402":{"description":"Payment required"}}}},"/v1/gate/tier/upgrade":{"post":{"summary":"Upgrade agent tier","description":"Upgrade to a higher access tier. $1.00 USDC.","x-mpp-charge":{"amount":"1000000","intent":"charge"},"responses":{"200":{"description":"Tier upgraded"},"402":{"description":"Payment required"}}}},"/v1/gate/register-guest":{"post":{"summary":"Guest registration","description":"Register a guest agent with temporary access. $4.99 USDC.","x-mpp-charge":{"amount":"4990000","intent":"charge"},"responses":{"200":{"description":"Guest registered"},"402":{"description":"Payment required"}}}}}}